PORT=3000

MONGO_URI=

NODE_MODE=dev

CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:3000

JWT_SECRET=
JWT_EXPRIES=7d
COOKIE_EXPIRES=7

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback
